{% extends 'base.html' %}

{% block content %}
    New Post

    <form method="POST" action="" enctype="multipart/form-data" novalidate multiple="multiple">
        {{ post_form.hidden_tag() }}
        {{ photo_form.hidden_tag() }}

        {{ post_form.title.label }}
        {% if post_form.title.errors %}
            {% for error in post_form.title.errors %}
                {{ post_form.title }}
                {{ error }}
            {% endfor %}
        {% else %}
            {{ post_form.title }}
        {% endif %}

        {{ post_form.content.label }}
        {% if post_form.content.errors %}
            {% for error in post_form.content.errors %}
                {{ post_form.content }}
                {{ error }}
            {% endfor %}
        {% else %}
            {{ post_form.content }}
        {% endif %}

        {{ photo_form.photo.label }}
        {% if photo_form.photo.errors %}
            {% for error in photo_form.photo.errors %}
                {{ photo_form.photo }}
                {{ error }}
            {% endfor %}
        {% else %}
            {{ photo_form.photo }}
        {% endif %}

        {{ post_form.submit }}
    </form>
{% endblock %}